
<div id="carrusel1" class="carousel slide container-fluid" data-bs-ride="carousel">
    <div class="carousel-inner">
      <ng-container *ngFor="let imagen of imagenes; let i = index">
        <div class="carousel-item" [class.active]="i === 0">
          <img src="{{imagen.ruta}}" class="d-block w-100" alt="imagen" />
        </div>
      </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carrusel1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carrusel1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 mt-4" *ngFor = "let c of cartas"> <!--Aplicamos el ngFor-->
        <div class="card text-center" style="width: 18rem">
          <img src={{c.ruta}} [ngClass]="clase" alt="imagen"/>
          <div class="card-body">
            <h5 class="card-title">{{c.nombre}}</h5>
            <p class="card-text">
              {{c.descripcion}}
            </p>
            <a routerLink="inicio" class="btn btn-primary">>Leer Más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="carrusel2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-12 mt-4">
              <div class="d-flex justify-content-center">
                <div class="card-group">
                  <div *ngFor="let item of Grupo; let i = index" class="card text-center">
                    <img routerLink="inicio" [src]="item.ruta" [ngClass]="clase_carrucel" alt="imagen" />
                    <div class="card-body">
                      <h6 class="card-title">{{item.nombre}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev btn btn-dark" type="button" (click)="moveLeft()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn btn-dark" type="button" (click)="moveRight()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  