<div class="container">
    <div class="row">
        <div id="carrusel1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carrusel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carrusel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carrusel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/servicio1.jpg" class="d-block w-100" alt="imagen">
            </div>
            <div class="carousel-item">
                <img src="assets/img/servicio2.jpg" class="d-block w-100" alt="imagen">
            </div>
            <div class="carousel-item">
                <img src="assets/img/servicio3.jpg" class="d-block w-100" alt="imagen">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrusel1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrusel1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2 class="mt-3" [ngStyle]="{ 'text-align': 'left' }"><strong>SERVICIO DE INSTALACION Y MANTENIMIENTO DE CAMARAS</strong></h2>
        <div class="col-12 col-md-8 mt-2">
            <small>
                CONSORCIO DISARGESA SAC Contamos con maquinaria de corte personalizado que
                permite que nuestros productos sean cortado en forma dimensional, permitiendo
                adaptarnos a la necesidad del cliente y tener una amplia variedad de
                productos. Utilizamos la última tecnología en corte , tanto en rapidez como en
                tamaño obteniendo un acabado perfecto.
            </small> 
        </div>

        <div id="carrusel2" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carrusel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carrusel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/servicio4.jpg" class="d-block w-100" alt="imagen">
            </div>
            <div class="carousel-item">
                <img src="assets/img/servicio5.jpg" class="d-block w-100" alt="imagen">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrusel2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrusel2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2 class="mt-3" [ngStyle]="{ 'text-align': 'left' }"><strong>SERVICIO DE INSTALALCION Y MANTENIMIENTO DE PUERTAS AUTOMATICAS</strong></h2>
        <div class="col-12 col-md-8 mt-2">
            <small>
                Contamos con personal especializado que coordinara de manera eficiente
                la logística necesaria para que nuestros productos lleguen al lugar y
                hora establecida, evitando que el cliente se vea perjudicado por
                retrasos en la entrega.
            </small> 
        </div>
        <div class="col-12 col-md-4">
            <strong>TELÉFONOS:</strong>
            <small>
                <p>Telf: (01)5858-580</p>
                <p>Cel: 990-108-205</p>
                <p>Cel: 957-520-027</p>
            </small>
        </div>

        <div id="carrusel3" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carrusel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carrusel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/servicio6.jpg" class="d-block w-100" alt="imagen">
            </div>
            <div class="carousel-item">
                <img src="assets/img/servicio7.jpg" class="d-block w-100" alt="imagen">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrusel3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrusel3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2 class="mt-3" [ngStyle]="{ 'text-align': 'left' }"><strong>SERVICIO DE INSTALACION Y MANTENIMIENTO DE CERCO ELECTRICO</strong></h2>
        <div class="col-12 col-md-8 mt-2">
            <small>
                Contamos con personal especializado que coordinara de manera eficiente
                la logística necesaria para que nuestros productos lleguen al lugar y
                hora establecida, evitando que el cliente se vea perjudicado por
                retrasos en la entrega.
            </small> 
        </div>
        <div class="col-12 col-md-4">
            <strong>INSTALACION DE:</strong>
            <small>
                <p>MOLDURAS</p>
                <p>CORNISAS</p>
                <p>CIELO RASOS</p>
                <p>DRYWWAL, ETC.</p>
            </small>
        </div>

        <div id="carrusel3" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carrusel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carrusel3" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/servicio6.jpg" class="d-block w-100" alt="imagen">
            </div>
            <div class="carousel-item">
                <img src="assets/img/servicio7.jpg" class="d-block w-100" alt="imagen">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carrusel3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carrusel3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2 class="mt-3" [ngStyle]="{ 'text-align': 'left' }"><strong>SERVICIO DE INSTALACION Y MANTENIMIENTO DE CERCO ELECTRICO</strong></h2>
        <div class="col-12 col-md-8 mt-2">
            <small>
                Contamos con personal especializado que coordinara de manera eficiente
                la logística necesaria para que nuestros productos lleguen al lugar y
                hora establecida, evitando que el cliente se vea perjudicado por
                retrasos en la entrega.
            </small> 
        </div>
        <div class="col-12 col-md-4">
            <strong>INSTALACION DE:</strong>
            <small>
                <p>MOLDURAS</p>
                <p>CORNISAS</p>
                <p>CIELO RASOS</p>
                <p>DRYWWAL, ETC.</p>
            </small>
        </div>
    </div>
</div>

